#!/bin/bash
# chkconfig: 2345 20 80
# description: ngEO-LWS service

. /etc/init.d/functions

case "$1" in
start)
   cd /home/m_admin/ngEO-LWS/ && HOST=[IPADRESS] PORT=8080 npm start &
   echo $!>/var/run/ngEO-LWS.pid
   ;;
stop)
   cd /home/m_admin/ngEO-LWS/ && npm stop
   kill `cat /var/run/ngEO-LWS.pid`
   ps -ef | grep '\snode\s' | awk '{print $2}' | xargs kill
   rm /var/run/ngEO-LWS.pid
   ;;
restart)
   $0 stop
   $0 start
   ;;
status)
   if [ -e /var/run/ngEO-LWS.pid ]; then
      echo ngEO-LWS is running, pid=`cat /var/run/ngEO-LWS.pid`
   else
      echo ngEO-LWS.sh is NOT running
      exit 1
   fi
   ;;
*)
   echo "Usage: $0 {start|stop|status|restart}"
esac

exit 0
